.todo {
    flex-direction: column;


    &__container {
        flex-direction: column;
    }

    &__shell {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 15px;
        margin-top: 20px;
        background-color: var(--beige);
        height: 150px;
        border-radius: 20px;

        @include breakpoint(sm) {
            margin-top: 10px;
        }
    }

    &__progress {
        background-color: var(--virulent);
    }

    &__done {
        background-color: var(--grey);
    }

    &__name {
        color: var(--white);
        max-width: 65%;

        @include breakpoint(md) {
            font-size: 16px;
        }
    }

    &__description {
        color: var(--white);
        max-width: 75%;

        @include breakpoint(md) {
            font-size: 16px;
        }
    }

    &__user {
        color: var(--white);
        max-width: 70%;

        @include breakpoint(lg) {
        max-width: 65%;
        }

        @include breakpoint(md) {
            font-size: 16px;
        }
    }

    &__data {
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: var(--white);
        max-width: 30%;
        font-size: 16px;

        @include breakpoint(md) {
        font-size: 13px;
        }

    }
}